var API_ENDPOINT = 'https://**********.execute-api.us-east-1.amazonaws.com/Production';
var TEAMS = [
    { "team_id": 1, "team_name": "Team Awesome" },
    2,
    { "team_id": 3, "team_name": "3.1415-rate" },
    4, 5
];
