<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>ScoreCard Dashboard</title>

    <!-- favicon package from https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <!-- This is the file that contains the API gateway endpoint and default channel name -->
    <script src="constants.js"></script>
    <!-- Angularjs app and controllers -->
    <script src="dashboard-app.js"></script>
    <style>
        th.rotate {
            white-space: nowrap;
        }

        th.rotate>div {
            transform:
                translate(0px, 0px)
                /* 45 is really 360 - 45 */
                rotate(315deg);
            width: 30px;
        }

        th.rotate>div>span {
            border-bottom: 1px solid #ccc;
            padding: -5px 10px;
        }
    </style>
</head>

<body ng-app="dashboardApp" style="text-align:center">
    <header>
        <img id="org-logo" src="favicon/favicon.png" />
    </header>
    <div id="wrapper" style="vertical-align:middle;position: absolute;top:50%;left:50%;transform:translate(-50%, -50%)">
        <div ng-controller="scoreboardController" class="scores">
            <table
                style="position:relative;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;width:80%">
                <tr>
                    <th style="text-align:center;padding:5px;width:fit-content;white-space: nowrap">Team</th>
                    <th style="text-align:center;padding:5px">Score</th>
                    <!-- Ref: https://css-tricks.com/rotated-table-column-headers/ -->
                    <th class="rotate" ng-repeat="flag in flagDashboardNames">
                        <div><span>{{flag}}</span></div>
                    </th>
                </tr>
                <tr ng-repeat="team in scores">
                    <td style="text-align:center;width:fit-content;white-space: nowrap">{{team.name}}
                    </td>
                    <td style="text-align:center;">{{team.score}}</td>
                    <td ng-repeat="flag in team.bitmask track by $index"
                        ng-style="{'background-color':(flag ? '#8f8' : '#f88')}">
                    </td>
                </tr>
            </table>
        </div>
        <!-- <h3 style="padding:50px">Brought to you by:</h3>
        <div class="row">
            <div class="col-md-4">
                <img style="max-width:100%;max-height: 150px" class="img-fluid" src="logo1.png" />
            </div>
            <div class="col-md-4">
                <img style="max-width:100%;max-height: 150px" class="img-fluid" src="logo2.png" />
            </div>
            <div class="col-md-4">
                <img style="max-width:100%;max-height: 150px" class="img-fluid" src="logo3.png" />
            </div>
        </div> -->
    </div>
</body>

</html>
